* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #333f4a;
}

.container {
  width: 95vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formulario {
  width: auto;
  height: auto;
  text-align: center;
  background: #43846a;
  border-radius: 25px;
}

.form-header {
  background: rgb(42, 108, 75);
  border-radius: 0.25em;
  color: white;
  padding: 0.5em;
  margin: 1.5em;
  margin-bottom: 1em;
}

.form-label {
  color: #1f345e;
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 10px;
}

.form-input {
  font-size: 1.25em;
  text-align: center;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
}

.form-game-label {
  color: #1f345e;
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 10px;
}

.form-game-input {
  font-size: 1.25em;
  text-align: center;
  margin-right: 1.5em;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: brown;
  width: 5em;
}

#Number5-label {
  justify-content: left;
  align-items: start;
  text-align: left;
}

.form-button {
  font-size: 1em;
  background: orange;
  border: 20px;
  border-color: aquamarine;
  offset-distance: 10px;
  border-radius: 0.5em;
  margin: 1em;
  padding: 0.9em 2em 0.9em 2em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.container-links {
  width: 32vw;
  position: absolute;
  left: 31%;
}

.links-header {
  background: rgb(42, 108, 75);
  border-radius: 0.25em;
  color: white;
  width: fit-content;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.links {
  /* width: auto;
  height: auto; */
  height: 20vh;
  text-align: center;
  background: #43846a;
  border-radius: 25px;
  text-decoration: dotted;
}

.form-button:hover {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: form-button-hover;
}

.form-button:focus {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: form-button-hover;
}

@keyframes form-button-hover {
  from {
    background: orange;
  }
  to {
    background: orangered;
  }
}
